@import '~normalize-scss/sass/normalize';

@import 'variables';
@import 'fonts';

@import 'main';

.helper {
  background: #ddd;
  border: 1px solid #aaa;
  position: relative;
  bottom: 6px;
  margin-left: 20px;
}